<div class="panel-group" id="{{ id }}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="{{ id }}-heading">
            <h4 class="panel-title">
                <a class="small{% if collapsed %} collapsed{% endif %}" role="button" data-toggle="collapse" data-parent="#{{ id }}" href="#{{ id }}-collapse" aria-expanded="false" aria-controls="{{ id }}-collapse">
                    {% if icon %}<i class="glyphicon {{ icon }}"></i>{% endif %}
                    {{ title }}
                </a>
            </h4>
        </div>
        <div id="{{ id }}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ id }}-heading">
            <div class="panel-body">
                {{ content|raw }}
                {% if footer %}<div class="footer">{{ footer | raw }}</div>{% endif %}
            </div>
        </div>
    </div>
</div>
